################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CardGame/bin/Debug
/.vs/CardGame/v16
/CardGame/obj/Debug
/CardGame/obj/Release
